body {
    font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif;
}


.header {
    width: 1320px;
    height: 600px;
    flex-shrink: 0;
    border-radius: 16px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url(../images/Banner\ Image.png);

    /*   margin: 50px 100px; */
    margin: auto;


}

.banner {
    text-align: center;
    padding: 170px 340px 170px 340px
}

.banner-content {
    color: #FFF;
    text-align: center;
    font-size: 32px;
    font-weight: 400;
    align-items: center;
    margin-bottom: 15px;

}

.banner-title {
    color: #FFF;
    text-align: center;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 175px;
    width: 632px;
}


/* sale content section */

.sale-content {
    margin-top: 120px;
    margin-bottom: 120px;
}

.sale-content-banner {
    display: block;
    align-items: center;
    text-align: center;

}

.sale-amount {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 45px;
}

.sale-info {
    color: #FF0000;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 15px;

}

.sale-title {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 45px;

}

.sale-img {
    width: 802.9px;
    height: 500px;
    flex-shrink: 0;
}

/* Welcome section style */

.welcome-container {
    width: 1320px;
    height: 600px;
    flex-shrink: 0;
    border-radius: 16px;
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url(../images/Vectorrr.png);

    /*   margin: 50px 100px; */

    margin: auto;
}

.welcome-content {
    text-align: left;
    padding: 125px 550px 215px 125px;
    margin-top: 0;
    margin-bottom: 120px;
}

.welcome-title {
    color: #FFF;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
    margin-bottom: 24px;
}

.welcome-description {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 0;

}

.btn-primary {
    color: #FFF;
    background-color: black;
    border: 0;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

/* details  */


.details-container {
    width: 1320px;
    height: 600px;
    flex-shrink: 0;
    border-radius: 16px;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    margin: auto;
    margin-top: 120px;
    margin-bottom: 0;
}

.details-content {
    text-align: center;
    padding: 100px 385px;
}


.details-info {

    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    /* 175% */
    text-transform: capitalize;
}

.details-info span {
    color: #F00;
}

.btn-secondary {
    color: #FFF;
    background-color: #F00;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    padding: 16px 32px;
    border-radius: 8px;
    border: 0;
}


























/* footer */
footer {
    background: #070211;
    width: 1600px;
    height: 609px;
    flex-shrink: 0;

    margin: 120px auto 0 auto;

}

.footer-container {
    display: flex;
    gap: 560px;
    padding: 30px;
    justify-content: space-around;

}

.footer-column {
    width: 20%;
}

.footer-des {

    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;

}

hr {
    margin: 20px 120px 0px 120px;
    width: 1320px;
    height:1px ;
    background-color:#FFFFFF26;
    border: 0;
   
}

.social-links {
    align-items: center;
    padding: 45px 600px 45px 600px;


}

.social-links img {
    width: 64px;
    height: 64px;
    padding: 10px;
    display: inline;


}